<div class="row">
  <div class="col-md-4">
    <h3>Forms</h3>
    <div class="form-group">
      <a (click)="abaform = 'alink1'" class="btn btn-info btn-class">Template</a>
    </div>
    <div class="form-group">
      <a (click)="abaform = 'alink2'" class="btn btn-info btn-class">Reactive</a>
    </div>
  </div>
  <div class="col-md-8">
    <div [ngSwitch]="abaform">
      <div *ngSwitchCase="'alink1'">
        <app-forms-template></app-forms-template>
      </div>
      <div *ngSwitchCase="'alink2'">
        <app-forms-reactive></app-forms-reactive>
      </div>
    </div>
  </div>